# ======================
# JAVA / SPRING
# ======================
backend/target/
*.log

# ======================
# NODE / NEXT
# ======================
frontend/node_modules/
frontend/.next/
frontend/out/

# ======================
# ENV
# ======================
.env
.env.local
.env.dev
.env.production

# ======================
# IDE / OS
# ======================
.vscode/
.DS_Store
Thumbs.db

certbot/
*.pem
*.key

# ======================
# PROJECT SPECIFIC
# ======================
scripts/
db_schema/

# Carpetas privadas/sensibles de despliegue
terraform/private/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars
terraform/temp_env
terraform/temp_nginx.conf
terraform/temp_setup.sh
