/* Estilos generales */

body {
    font-family: 'Montserrat';
    background-color: white;
    margin: 0;
    padding: 0;
    height: max-content;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(112deg, #FCFBFF 0%, #F6F3FB 63.66%, #EEE8F8 127.31%);
    
    /*
    background-image: url('/assets/login-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* Estilos para el LoginCard */
.welcomebox {
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.09);
    padding: 40px;
    text-align: center;
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos en el eje transversal (horizontal) */
    justify-content: center; /* Centra los elementos en el eje principal (vertical) */
}

.cardContent img {
}

.textContainer {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 300px;
}

.textContainer h1 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.textContainer p {
    font-size: 14px;
    color: #7c7c7c;
}

.googleBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: solid 1px #e4e4e4;
    border-radius: 10px;
    cursor: pointer;
    gap: 15px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 21px -8px rgba(122, 122, 122, 0.2);
}

.googleBtn:hover {
    background-color: #f8f8f8;
}

.googleLogo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.securityText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    font-size: 11px;
    color: #7A7A7A;
    width: 100%;
}
.securityText p:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap; /* evita que el texto se rompa */
}

.securityText p:first-child::before,
.securityText p:first-child::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #e4e4e4;
}
.privacyText {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

